*.obj
*.am
*.tlog
*.l
*.log
*.manifest
*.user
*.pdb
libconfig/libconfig.c
libconfig/libconfig.h
libconfig/libconfig.hh
libconfig/grammar.c
libconfig/grammar.h
libconfig/grammar.y
libconfig/libconfig++.Debug/libconfig++.dll.embed.manifest.res
libconfig/libconfig++.Debug/libconfig++.lastbuildstate
libconfig/libconfig++.Debug/libconfig++_manifest.rc
libconfig/libconfig++.pc.in
laplace_3d_sth_3_rand.v11.suo
libconfig/libconfig++.Release/libconfig++.lastbuildstate
libconfig/libconfig++.vcxproj
libconfig/libconfig++.vcxproj.filters
libconfig/libconfig.h++
libconfig/libconfig.pc.in
libconfig/libconfigcpp.c++
libconfig/libconfigcpp.cc
libconfig/Makefile.in
libconfig/parsectx.h
libconfig/scanctx.c
libconfig/scanctx.h
libconfig/scanner.c
libconfig/scanner.h
libconfig/strbuf.c
libconfig/strbuf.h
libconfig/wincompat.h
*.ipch
*.sdf
*.ilk
*.lastbuildstate
*.cache
*.suo
*.filters